apiVersion: v1
kind: Namespace
metadata:
  name: istio-cni
  labels:
    openshift.io/cluster-monitoring: "true"
---
apiVersion: sailoperator.io/v1
kind: IstioCNI
metadata:
  name: default
spec:
  namespace: istio-cni
  version: {{ .Values.servicemesh.ossm3version }}