apiVersion: networking.istio.io/v1
kind: NetworkPolicy
metadata:
  name: istiod-basic
  namespace: {{ .Values.servicemesh.namespace }}
spec:
  ingress:
  - {}
  podSelector:
    matchLabels:
      app: istiod
  policyTypes:
  - Ingress
---
apiVersion: networking.istio.io/v1
kind: NetworkPolicy
metadata:
  name: kiali-basic
  namespace: {{ .Values.servicemesh.namespace }}
spec:
  ingress:
  - {}
  podSelector:
    matchLabels:
      app: kiali
  policyTypes:
  - Ingress
---
apiVersion: networking.istio.io/v1
kind: NetworkPolicy
metadata:
  name: smesh3-customer-ingress-discovery-podSelector
  namespace: {{ .Values.servicemesh.namespace }}
spec:
  ingress:
  - from:
    - namespaceSelector:
{{- $matchedLabels := dict }}
{{- range .Values.servicemesh.ossm3meshconfig.discoverySelectors }}
  {{- $matchedLabels = merge $matchedLabels . }}
{{- end }}
{{- $matchedLabels | toYaml | indent 8 }}
  podSelector: {}
  policyTypes:
  - Ingress
