- name: run injected gateway helm
  command: helm upgrade --install service-mesh-injected-gateway {{ playbook_dir }}/charts/service-mesh-injected-gateway --namespace {{ servicemesh.namespace }} --timeout 600s --values {{ playbook_dir }}/charts/shared_helm_values/{{ cluster_name }}.yaml
  run_once: true
