## Task to add/remove cro, app-ingress, Dynatrace and gitops labels

- block:
    - name: "Add/remove cro label to/from namespace {{ item.namespace }}"
      set_fact:
        ingress_label_chk: "{{ project | selectattr('namespace', 'search', item) | map(attribute='app_ingress') | list | first }}"
        gitops_label_chk: "{{ project | selectattr('namespace', 'search', item) | map(attribute='gitops') | list | first }}"
        g2_cert_label_chk: "{{ project | selectattr('namespace', 'search', item) | map(attribute='g2_cert') | list | first }}"
        cro_label_chk: "{{ project | selectattr('namespace', 'search', item) | map(attribute='cro') | list | first }}"

    - name: "Add smesh member label with ingress"
      ansible.builtin.shell: 'oc label ns "{{ item }}" istio-discovery=enabled istio-discovery=enabled istio-discovery=enabled ingress-shard={{ ingresscontroller.item.name }}-{{ ingresscontroller.item.instancenumber }} --overwrite'"
      check_mode: false
      when: ingress_label_chk | bool

    - name: "Remove smesh member label with ingress"
      ansible.builtin.shell: 'oc label namespace {{ item.namespace }} smesh-member-app-ingress-'
      check_mode: false
      when: not ingress_label_chk | bool

    - name: "Add G2 Cert label to namespace"
      ansible.builtin.shell: 'oc label namespace {{ item.namespace }} enable_g2-cert=true --overwrite'
      check_mode: false
      when: g2_cert_label_chk | bool

    - name: "Remove G2 Cert label from namespace"
      ansible.builtin.shell: 'oc label namespace {{ item.namespace }} enable_g2-cert-'
      check_mode: false
      when: not g2_cert_label_chk | bool

 